/ex_1_1/nbproject/private/
/ex_1_1/build/
/ex_1_2/nbproject/private/
/ex_1_2/build/
/ex_1_3/nbproject/private/
/ex_1_3/build/
/ex_1_4/nbproject/private/
/ex_1_4/build/
/ex_1_5/nbproject/private/
/ex_1_5/build/
/ex_1_6/nbproject/private/
/ex_1_7/nbproject/private/
/ex_1_7/build/